@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swaprel=stylesheet");
* {
    margin: 0;
    /*margen de la página*/
    padding: 10px;
    /*espacio entre lineas*/
    box-sizing: border-box;
    text-decoration: none;
    /*quita las lineas de los enlaces*/

}

h1 {

    color: #D7CBB5;
    background-position: center;
    text-align: center;
    font-family: "Concert One", serif;
    font-weight: 400;
    font-style: normal;
    /*inclinacion*/
    font-size: 500%;
    line-height: 200%;/*espaciado entre la pagina y el h1*/
    background-image:linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url(https://s2.ppllstatics.com/elcorreo/www/multimedia/202210/20/media/cortadas/tienda-perros-bilbao-espana-kihB-U1804282509805TF-1248x770@El%20Correo.JPG); 
    background-repeat: no-repeat;
    background-size: cover; 
}

.agendacita {
    position: absolute;
    top: 35px;
    right: 40px;
    color: #FFF8E1;

}
header {
    width: 100%;
    height: 150%;
}

header p {
    font-weight: bold;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#482E1D;

}

header span {
    font-weight: bold;
    font-size: 140%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0px;
    display: block;
    margin-top: 20px;
    color:#604a33;
}
header li{
    font-family:"poppins",sans-serif;
    font-size: large;
    font-weight: 100;
    width: 98%;
    text-align:justify;
}

body {
    background-color: #FFF8E1;
}
.contenedor{
    width: 100%;
    height: 100%;
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}
body h2{
    font-family: Arial, Helvetica, sans-serif;
    color:#482E1D;
    background-color: #D7CBB5;
    width: 100%;
}

.proyectos{
    width:80%;
    display:flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
}
.proyectos h2{
    text-align: center;
    width:100%;
}
.proyecto{
    width:400px;
    height:515px;
    box-sizing: border-box;
    background-color: #c77;
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin:30px;
}
.proyecto img{
    width: 100%;
    
}
.proyecto p{
    font-family: "poppins", sans-serif;
    font-size: small;
    text-align: justify;
    
}
/*Decoración por ID en cada uno de los proyectos*/
#banos{
    height: 530px;
    color: #26A69A;
    background-color: #d6eadf;
    border-radius: 12px;
    
}
#banos h3{
    font-family: "Concert One", serif;
    color:#26A69A;
    

}
#cortes{
    height: 530px;
    color: #4b1c71;
    background-color:#C8A2D9 ;
    border-radius: 12px;

}
#cortes h3{
    font-family: "Concert One", serif;
    color:#4b1c71;
}


#SPA{
    height: 590px;
    color:#004173;
    background-color: #C6E1F1;
    border-radius: 12px;
}
#SPA h3{
    font-family: "Concert One", serif;
    color:#004173;

}


/*Decoracion del formulario*/
form h4{
    font-family:Arial, Helvetica, sans-serif;
    color:#E04B06;
    text-align: center;
}
form input{
    width: 100%;
    padding: 20px; 
    background-color: #FFF8E1;
    border: 1px solid beige;
    font-size: medium;
    
}
form textarea{
    width: 100%;
    padding: 20px; 
    background-color: #FFF8E1;
    border: 1px solid beige;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    background-color:#FFCC80;
    display:grid;
    color:#E04B06;
    font-family:"poppins", sans-serif;
    font-size: 20px;
    padding: 3%;
    width: 50%;
}
#enviar{
    background-color: #E04B06;
    border:2px solid #E04B06;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    font-weight:bolder;
    color:#FFF8E1;
    padding:3%;
    
}
/*Estilización de footer*/

footer{
    display:flex; 
    flex-flow:column; 
    justify-content:center; 
    align-items: center; 
    background-color:#D7CBB5 ;
    width: 100%;
    margin: 15px;
    font-family:sans-serif;
}

.enlaces{ 
    display:flex; 
    flex-flow: row; 
    transition: 0.5s;
}

  .enlaces a ion-icon {
    color: #482E1D; 
  }

.enlaces li { 
    margin: 8px 0px; 
    list-style: none;
    color:#482E1D;
    font-size: 32px;
}
footer p{
    text-align: center;
    color:#482E1D;
}
#negrita1{
    font-weight:900;
    font-size: large;
}
#negrita2{
    font-weight:900;
    font-size: large;
}
#negrita3{
    font-weight:900;
    font-size: large;
}

#copyright{
    font-weight: 650;
}
@media (max-width:967px) {
    header{
        height: auto;
    }
    .proyectos{
        height: auto;
        width: 100%;
    }
    form{
        height: auto;
        width: auto;
    }
    footer{
        height: auto;
        width: 98%;

    }

    
}


